<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border">
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <span class="navbar-text col text-left text-white nav-title font-weight-bold">{{title}}</span>
            {{#unless loggedIn}}
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class=" nav-link text-white btn btn-outline-light col-auto mr-lg-2" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link text-white btn btn-outline-light col-auto mr-lg-2" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link text-white btn btn-outline-light col-auto mr-lg-2" href="/sales/view_all_products">Shop</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class=" nav-link btn btn-outline-light col-auto mr-lg-2" href="/sales/products">Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white text-center" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{currentUser.fullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/users/profile">Profile</a>
                        <a class="dropdown-item" href="/sales/add">Sell</a>
                        <a class="dropdown-item" href="/sales/viewAll">Your Products</a>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
            </ul>
            {{/unless}}
        </div>
    </nav>
</header>