<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href="/assets/stylesheets/style.css" />
</head>
<body>

{{> header }}

<img class="rounded-lg" src="/assets/images/SallieShoppe.png" id="logo" alt="logo" />

{{{body}}}

{{> footer }}

</body>

<script src="/assets/vendor/feather-icons/feather.js"></script>
<script>
    feather.replace()
</script>
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper.js/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</html>
