<form method="post" action="/users/password_change">
    <div class="container-fluid form-group">
        <div class="container-fluid m-2">
            {{>user_messages}}
        </div>
        <input type="hidden" name="saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>
        <input type="hidden" name="objectId" value="{{objectId}}"/>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="password">Password:</label>

            </div>
            <div class="col-10">
                <input class="form-control col-9 pull-right" required="required" type="password" name="oldpassword" value="{{password}}"/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="newPassword">New Password:</label>
            </div>
            <div class="col-10">
                <input class="form-control col-9 pull-right" required="required" type="password" name="newpassword" value="{{newpassword}}"/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="btn btn-warning col-2" type="submit" value="Submit"/>
        </div>
    </div>
</form>


