<form method="post">
    <div class="container-fluid form-group justify-content-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                Do you want to delete the item:
                <br>
            </div>
        </div>
        <input type="hidden" name="objectId" value="{{objectId}}"/>

        <div class="row justify-content-center">
            <div class="col text-center font-weight-bold">
                Title: {{saleTitle}} - Price: {{salePrice}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <span><a class="btn btn-danger" role="button" aria-pressed="true" href="/sales/destroy?id={{ objectId }}"><i data-feather="trash-2"></i></a></span>
                <span><a class="btn btn-info" role="button" aria-pressed="true" href="/sales/viewAll"><i data-feather="x"></i></a></span>
            </div>
        </div>
    </div>
</form>